---

title: FPSCore

---

<script>
	import Title from '$lib/components/title.svelte';
	import Carousel from '$lib/components/carousel.svelte';

	import FPSCoreThumbnail from '$lib/images/FPSCore/FPSCore_Thumb.png';
	import FPSCorePhoto1 from '$lib/images/FPSCore/FPSCore_Photo1.png';
	import FPSCorePhoto2 from '$lib/images/FPSCore/FPSCore_Photo2.png';
	import FPSCorePhoto3 from '$lib/images/FPSCore/FPSCore_Photo3.png';
</script>

<Title text={title}/>

FPS Core is a robust gameplay framework plugin for Unreal Engine which abstracts many difficult features of FPS Games to simplify their creation. I independently published it on the Unreal Engine Marketplace (now FAB) in 2022.

<Carousel images={new Array(FPSCoreThumbnail, FPSCorePhoto1, FPSCorePhoto2, FPSCorePhoto3)}/>

Designed to streamline the creation of first-person shooter games, FPS Core quickly gained popularity following it's release, leading me to abandon working on <u><a href="/isolation" target="_self">Project Isolation</a></u> to provide adequate support and documentation. Over it's life, it has achieving over 85,000 downloads on the Marketplace alone, and maintaining a 4.3/5-star average rating. 

At it's core (no pun intended), FPS Core is a gameplay framework plugin that provides users with an out-of-the-box solution for building FPS characters. It's features include a robust weapon system with support for attachments, predictable recoil patterns and advanced animation support, as well as a dynamic movement system and fully-featured interaction system.

I continued to update FPS Core well into 2023, delivering 8 major updates, introducing new features and mechanics. In 2024, I took a break from the plugin to focus on my career and Warbound, but I am now working on a huge overhaul with FPS Core V2, which I am aiming to release by the summer of 2025.

New for me with FPS Core was considering the needs of professional users who would be working with my code. This drove me to author thousands of words of user-friendly documentation, especially my popular "QuickStart!" series of guides, which helped people set up FPS Core in record time. I also had to scale this documentation to handle the amount of users, which I ultimately accomplished with the help of a Cloudflare CDN, enabling it to handle over 150,000 monthly connections. 

At it's peak, FPS Core was so popular that I was struggling to deal with the overwhelming amount of support queries. To facilitate faster turnaround time and to allow myself to focus on the most complex queries, I developed a custom OpenAI-powered bot using GPT-4. The bot provided automated responses to common questions based on the documentation, which was able to help a large number of users without my direct input, allowing me to focus on the most technically challenging queries.

The FPS Core discord server became a hub for FPS developers, with over 600 members at the time of writing. Here, I offered one-on-one technical support, helping users adapt FPS Core to their specific needs. I also developed custom features based on the requests of individuals, and took suggestions for new features to be implemented into the plugin.



<style>

a {
	color: black;

	@media (prefers-color-scheme: dark) {
		color: white;
	}
}

</style>
